@import url('https://fonts.googleapis.com/css?family=Roboto');.ui-datepicker{-webkit-box-shadow:0 1px 5px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 1px 5px rgba(0, 0, 0, 0.3);box-shadow:0 1px 5px rgba(0, 0, 0, 0.3);-webkit-border-radius:3 4px 4px 4px;-moz-border-radius:3 4px 4px 4px;border-radius:3 4px 4px 4px;font-family:"Roboto", sans-serif !important;padding:0 !important;border:none 0 !important;min-width:300px !important;}
.ui-datepicker .ui-datepicker-header{background:#4576a2 !important;padding:1.5vh 0 !important;}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-header .ui-datepicker-next{background:#396184 !important;top:1.6vh !important;border:none 0 !important;width:30px !important;height:30px !important;}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev{left:1vh !important;}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next{right:1vh !important;}
.ui-datepicker .ui-datepicker-header .ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-header .ui-datepicker .ui-datepicker-next span{background-image:none !important;}
.ui-datepicker .ui-datepicker-header a .ui-icon{width:30px !important;height:30px !important;background-image:none !important;text-indent:0 !important;position:relative !important;left:0 !important;top:0 !important;font-size:0;margin-top:0 !important;margin-left:0 !important;/* font-family:'exide_icons' !important; */speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.ui-datepicker .ui-datepicker-header a .ui-icon.ui-icon-circle-triangle-w:before{content:url(../image/scroll-arrow-to-left.png);color:#ffffff;font-size:1.4vh;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);}
.ui-datepicker .ui-datepicker-header a .ui-icon.ui-icon-circle-triangle-e:before{content:url(../image/scroll-arrow-to-right.png);color:#ffffff;font-size:1.4vh;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);}
.ui-datepicker .ui-datepicker-header select.ui-datepicker-month,
.ui-datepicker .ui-datepicker-header select.ui-datepicker-year{background:#396184;padding:0 1.5vh;border-radius:5px;border:none 0;font-family:"Roboto", sans-serif;font-size:1.7vh;color:#ffffff !important;font-weight:400;height:30px !important;margin-right:2px;}
.ui-datepicker .ui-datepicker-header select.ui-datepicker-month option,
.ui-datepicker .ui-datepicker-header select.ui-datepicker-year option{background:#ffffff;color:#396184;}
.ui-datepicker-calendar a{text-align:center !important;}
.ui-datepicker-calendar th{text-align:center !important;color:#ccdeef;font-size:14px !important;font-weight:400 !important;}
.ui-datepicker-calendar td{padding:2px !important;font-size:14px !important;color:#688fb2 !important;text-align:center !important;}
.ui-datepicker-calendar td span, .ui-datepicker-calendar td a{text-align:center !important;}
.ui-datepicker-calendar .ui-state-default, .ui-datepicker-calendar .ui-widget-content .ui-state-default, .ui-datepicker-calendar .ui-widget-header .ui-state-default, .ui-datepicker-calendar .ui-button, .ui-datepicker-calendar html .ui-button.ui-state-disabled:hover, .ui-datepicker-calendar html .ui-button.ui-state-disabled:active{background:none !important;border:none 0 !important;color:#688fb2 !important;}
.ui-datepicker-calendar .ui-state-active, .ui-datepicker-calendar .ui-widget-content .ui-state-active, .ui-datepicker-calendar .ui-widget-header .ui-state-active, .ui-datepicker-calendar a.ui-button:active, .ui-datepicker-calendar .ui-button:active, .ui-datepicker-calendar .ui-button.ui-state-active:hover{background:#4576a2 !important;color:#ffffff !important;-webkit-border-radius:4px 4px 4px 4px;-moz-border-radius:4px 4px 4px 4px;border-radius:4px 4px 4px 4px;}
@media screen and (min-width:700px and max-width:1023px){.ui-datepicker{width:auto !important;}
.ui-datepicker .ui-datepicker-header{padding:1.5vh 0 !important;}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-header .ui-datepicker-next{top:1.6vh !important;width:30px !important;height:30px !important;}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev{left:1vh !important;}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next{right:1vh !important;}
.ui-datepicker .ui-datepicker-header a .ui-icon{width:30px !important;height:30px !important;}
.ui-datepicker .ui-datepicker-header a .ui-icon.ui-icon-circle-triangle-w:before{font-size:1.4vh;}
.ui-datepicker .ui-datepicker-header a .ui-icon.ui-icon-circle-triangle-e:before{font-size:1.4vh;}
.ui-datepicker .ui-datepicker-header select.ui-datepicker-month,
.ui-datepicker .ui-datepicker-header select.ui-datepicker-year{padding:0 1.5vh;height:30px !important;}
.ui-datepicker-calendar th{text-align:center !important;color:#ccdeef;font-size:14px !important;font-weight:400 !important;}
.ui-datepicker-calendar td{padding:0 !important;font-size:14px !important;}
.ui-datepicker-calendar td a{padding:5px !important;}
}

	
@media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2){
	.ui-datepicker{
			top:327px !important;
		}
}