/*!
 *
 *
 *
 *
 */

body {
    background-color: #fff;
}

#wrapper {
    width: 100%;
}

h1{
    text-align: center;
    font-size: 26px;    
}

.maindashboard{
    background-color: #009AD7;
    cursor: pointer;
}

.navbar{
    min-height: 80px;
}

.navbar-static-top{
    border-bottom: 3px solid #F01E1E;
}

.nav-tabs>li{
    margin-bottom: 0px;
}



.tooltip.right .tooltip-arrow{
    border-right-color: #009AD7;
}

.tooltip-inner{
    background-color: #009AD7;
    padding: 3px;
}
.dropdown-menu{
    border-radius: 0px;
    border: 1px solid #003264;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 225px;
        padding: 0 30px;
        border-left: 1px solid #cef;
    }
}

h1{
    color: #003264;
}


/*nav tabs Start*/

.nav-tabs>li>div{
    color: #fff;
    border: 0px;
    border-radius: 0px;
    padding: 8px 14px;
}

.nav-tabs>li>div:hover {
    background-color: #727272;
    text-decoration: underline;
    border: 0px;
    cursor: pointer;
}

.nav-tabs{
    background-color: #003264;
}

.nav-tabs>li.active>div, .nav-tabs>li.active>div:hover, .nav-tabs>li.active>div:focus{
    color: #F01E1E;
    text-decoration: none;
    background-color: #fff;
}

.navbar-top-links li {
    display: inline-block;
}

/*Nav tabs End*/

/* drop down div*/
.dropdown-menu > li > div {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.dropdown-menu > li > div:hover,
.dropdown-menu > li > div:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
.dropdown-menu > .active > div,
.dropdown-menu > .active > div:hover,
.dropdown-menu > .active > div:focus {
  color: #fff;
  text-decoration: none;
  background-color: #428bca;
  outline: 0;
}
.dropdown-menu > .disabled > div,
.dropdown-menu > .disabled > div:hover,
.dropdown-menu > .disabled > div:focus {
  color: #777;
}
.dropdown-menu > .disabled > div:hover,
.dropdown-menu > .disabled > div:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}


/*drop down div end*/

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 30px;
    min-height: 80px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.feedbackMask{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.sidebar ul li {
    border-bottom: 1px solid #fff;
}

.maind:hover{
    color: #fff;
    cursor: pointer;
}
#pageloading{
    position: absolute;
    background: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 2000;
    top: 0px;
    display: none;
}

#loading{
    position: absolute;
    background-image: url(../images/loading.gif);
    width: 48px;
    height: 48px;
    left: 48%;
    top: 45%;
}


@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: relative;
        width: 250px;
        margin-top: 51px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 25%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

#page-wrapper.toggled{
  margin: 0 0 0 50px;
}



#sidebar-wrapper.toggled {
    width:50px;
    height: 400%;
}

#sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    left: 225px;
    height: 400%;
    top: 0px;
	width:225px;
    margin-left: -225px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar-nav {
    position: absolute;
    background-color: #003264;
    color: #fff;
    top: 32px;
    width: 225px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav.toggled{
  width:50px;
}


.sidebar-nav li {
    text-indent: 5px;
    line-height: 40px;
	width:225px;
}

.sidebar-nav li.toggled {
   text-indent: 5px;
   width:50px;
}


.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #ccc;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
}


#menu-toggle{
    background-image: url('../images/glyphicons-halflings.png');
	background-position:-234px -68px;
	width:30px;
	height:28px;
    position: absolute;
	left:42%;
	z-index: 10000;
    opacity: 0.4;
}

#menu-toggle.toggled{
	background-image: url('../images/glyphicons-halflings.png');
    background-position: -330px -68px;
	width:30px;
	height:28px;
	left:25%;
	z-index: 10000;
    opacity: 0.4;
}

.content-hide{
    padding-left: 25px;
    margin-top: -40px;
	display:block;
}

.content-hide.toggled{
  display:none;	
}

.logo-exide{
    background-image: url(../images/logo.jpg);
    margin-top: 14%;
    margin-left: 40%;
    background-color: #fff;
    width: 125px;
    height: 47px;
}

.logo-360degree{
    background-image: url(../images/360-logo.jpg);
    margin-top: -40%;
    margin-left: 450%;
    background-color: #fff;
    width: 55px;
    height: 38px;
}

/*Pop Up CSS*/



.close {
    background: url("../images/closebox.png") no-repeat scroll 0 0 transparent;
    bottom: 24px;
    cursor: pointer;
    float: right;
    height: 30px;
    left: 27px;
    position: relative;
    width: 30px;
}

/*-------------*/


.tab-content {
padding: 10px;
}

.addStakeholder{
    display: none;
    width: 20%;
}

.addPeer{
    display: none;
    width: 14%;
}

#peerTable{
   position: absolute;
    width: 50%;
    margin-top: 2%;
}
#stakeTable{
    position: absolute;
    width: 50%;
    margin-top: 2%;
}


/*Notification Start css*/

.searchdata {
    margin-left: 794px;
    margin-top: -25px;
    margin-bottom: 25px;
    z-index: 100;
}


  .searchdata input{
line-height: normal;
}


.text_feedback {
    margin: 4px 10px;
}
.text_feedback1 {
    margin: 5px 42px;
}



.tab-content {
    padding:10px;


}

/*Notification End css*/



/*FeedBack Start css*/


.panel-body
{
    padding: 15px;
    width: auto;
    
}

.panel-data
{
    margin: 10px 10px;
    padding: 10px;
    
}
.col-md-1 {
   padding: 0 0 10px 25px;
    width: 15%;
}

.question-nav-btns
{
    padding: 0 0 10px 550px;
}

.nav-btn-next
{
   width: 80px;
}
.panel-number-2
{
    display:none;
}

.popup_content {
    margin: 4px 7px;
}

.feedback-popup
{
    width:auto;
}

.feedalert
{
   left: 550px;
    position: absolute;
    top: 5px;
    display:none;
}

.radio-inline input[type=radio]{
    display:none
}

.answer{
    position: relative;
    float: left;
    padding: 0px 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #cef;
    border-radius: 4px;
    background-color: #003264;
}

.replay{
    background-color: #F01E1E;
}

.answer p{
    color: #fff;
    margin: 4px;
}

.question{
    padding: 0px 12px;
    margin-bottom: 0;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.question a{
    color: #E01F1F;
    text-decoration: none;
}

.question:hover{
    background-color: #f7f7f7;
}

/*FeedBack CSS END*/
