/*!
 * Start Bootstrap - SB Admin 2 Bootstrap Admin Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
html,body{
    height:100%;
}
body {
    font-family: Tahoma;
    background-color: #FFF;

}

#wrapper {
    width: 100%;
    min-height: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 225px;
        padding: 0 30px;
        border-left: 1px solid #eee;
    }
    #page-wrapper.toggled {
        position: inherit;
        margin: 0 0 0 40px;
        padding: 0 30px;
        border-left: 1px solid #eee;
    }
}

#employee-wrapper {
    padding: 0 15px;
    min-height: 568px;
}

@media(min-width:768px) {
    #employee-wrapper {
        position: inherit;
        margin: 0;
        padding: 0px;
    }
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 18px 0 0 0;
    min-height: 40px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

 .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
    background-color: #eee;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 225px;
        margin-top: 77px;
    }
    .navbar-default.toggled  {
       width: 40px;
    }

.sidebar-nav.toggled  {
       width: 40px;
    }
    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 25%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #F01E1E;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-primary {
    border-color: #003264;
}

.panel-primary .panel-heading {
    border-color: #003264;
    color: #fff;
    background-color: #003264;
}

.panel-primary a {
    color: #003264;
}

.panel-primary a:hover {
    color: #009AD7;
}

.panel-blue {
    border-color: #009AD7;
}

.panel-blue .panel-heading {
    border-color: #009AD7;
    color: #fff;
    background-color: #009AD7;
}

.panel-blue a {
    color: #009AD7;
}

.panel-blue a:hover {
    color: #003264;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

.panel-pink {
    border-color: #ff6868;
}

.panel-pink .panel-heading {
    border-color: #ff6868;
    color: #fff;
    background-color: #ff6868;
}

.panel-pink a {
    color: #ff6868;
}

.panel-pink a:hover .panel-pink a:focus{
    color: #f01e1e;
}

.email_logo{
    background-image: url(../images/logo.jpg);
    background-repeat: no-repeat;
	width: 125px;
	height: 47px;
	margin: 0px 20px 10px 0px;
    float: right;
}

.header_logo{
    background-image: url(../images/header_logo.png);
    background-repeat: no-repeat;
	width: 62px;
	height: 74px;
	margin: 0px 175px 0px 0px;
    float: right;
}

.logo-exide{
	background: url(../images/logo.jpg);
    background-repeat: no-repeat;
	width: 125px;
	height: 47px;
	margin: 10px 20px;
}

.logo-360degree{
	background-image: url(../images/360-logo.jpg);
    background-color: #fff;
    width: 55px;
    height: 38px;
    margin: -41px 50%;
}
.maind {
	line-height: 40px;
	background-color: #003264;
	color: #fff;
    cursor: pointer;
}

.maindashboard {
    background-color: #ffffff;
    cursor: pointer;
    color: #003264;
}

.fbalert,.aggregateRecived ,.aggregateSent,.actionfb,.listfb{
	line-height: 40px;
}

.fbalert.active,.aggregateRecived.active ,.aggregateSent.active,.actionfb.active,.listfb.active{
	background-color: #fff;
	color: #F01E1E;
}

.nav-tabs {
    background-color: #003264;
	color: #fff;
}

.nav-tabs>li>div {
    margin-left: 10px;
    margin-right: 10px;
    color: #fff;
    border: 0px;
    border-radius: 0px;
}

#menu-toggle {
background-image: url('../images/glyphicons-halflings.png');
background-position: -234px -68px;
width: 30px;
height: 28px;
position: absolute;
left: 42%;
z-index: 10000;
opacity: 0.4;
}
#menu-toggle.toggled {
background-image: url('../images/glyphicons-halflings.png');
background-position: -330px -68px;
width: 30px;
height: 28px;
left: 25%;
z-index: 10000;
opacity: 0.4;
}

.addStakeholder, .addPeer{
    display: none;
    width: 50%;
}

.maind.toggled{
	
}
.maind span.toggled{
	display: none;
}

.answer.replay{
	background: #F01E1E;
}

/* Extra CSS */


.answer{
    position: relative;
    float: left;
    padding: 0px 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 4px;
    background-color: #003264;
    margin: 2px;
}

.answer p{
    color: #fff;
    margin: 4px;
}

.instrution-popup, .feedback-popup{
    width:70%;
}


.close {
    background: url("../images/closebox.png") no-repeat scroll 0 0 transparent;
    bottom: 24px;
    cursor: pointer;
    float: right;
    height: 30px;
    left: 27px;
    position: relative;
    width: 30px;
}


.nav-tabs>li{
    margin-bottom: 0px;
}

.nav-tabs>li:hover {
    text-decoration: underline;
    border: 0px;
    cursor: pointer;
}

.nav-tabs>li.active>div, .nav-tabs>li.active>div:hover, .nav-tabs>li.active>div:focus{
    color: #F01E1E;
    text-decoration: none;
    background-color: #fff;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-collapse.in {
    overflow-y: hidden;
}

/*#pageloading{
    position: absolute;
    background: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 2000;
    top: 0px;
    display: none;
}

#loading{
    position: absolute;
    background-image: url(../images/loading.gif);
    width: 48px;
    height: 48px;
    left: 48%;
    top: 45%;
}*/

#popuploading{
    position: absolute;
    background-image: url(../images/loading.gif);
    top:0;
	left:0;
	right:0;
	bottom:0;
	margin: 45% auto;
}

.navbar-static-top{
    border-width: 0 0 3px;
}

h1 {
    text-align: center;
    font-size: 26px;
}

.tooltip.right .tooltip-arrow{
    border-right-color: #009AD7;
}

.tooltip-inner{
    background-color: #009AD7;
    padding: 3px;
}

.question a{
    color: #E01F1F;
    text-decoration: none;
}
.btn-file{
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file]{
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: center;
    filter: alpha(opacity=0);
    opacity: 0;
    background: none repeat scroll 0 0 transparent;
    cursor: inherit;
    display: block;
}

.dques{
    cursor: pointer;
}

.quesShow{
    display: block;
}

.enableBox, .disableBox, .editquestion, .enabledriverBox, .disabledriverBox, .editdriver{
    margin-left: 5px;
    float: right;
    margin-top: -6px;
    z-index: 10;
}

.deleteadmin, .activatebox, .diactivatebox{
    margin-left: 5px;
    margin-top: -6px;
}


.quedrive {
    display: inherit;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 4px;
}

.input-group {
    margin-bottom: 20px;
}

.etmbtn {
    display: inline-block;
    padding: 0px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.badge{
    margin-left: 10px;
    background-color: #F01E1E;
}

.panel-group .panel{
    margin-bottom: 4px;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn{
    opacity: 0.50;
}

h4{
    text-align: center;
}

.dropdown-menu>li>div {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

#welcomestartdate, #welcomeenddate{
    color: #f01e1e;
    text-decoration: underline;
}

.instrutclass{
    border-left: 1px solid #f01e1e;
}


.fa-hand-o-right{
    color: #f01e1e;
}

.drcls, .dmcls, .prcls, .shcls, #ansId5, #sumsur, .quesHide, .participantinstruction, .respondentinstruction, #listofparticipent, #back_participant, .removePeSh1, .removePeSh, #view-participants, .report-page {
    display: none;
}

.selcting_action, .pendingAction, .selecting_Except{
    margin-left: 4%;
}

#continue_dr, #continue_peer, #cnt_SS, #continue_SH, .SlffedbckMdl, .add_respond, .mailclick .reset_selfassesment{
    padding: 0px; 
    border: 0px; 
    vertical-align: baseline;
}

#continue_dr:hover, #continue_peer:hover, #cnt_SS:hover, #continue_SH:hover, .SlffedbckMdl:hover, .partcls:hover, .add_respond:hover, .mailclick:hover, .reset_selfassesment:hover {
    cursor: pointer;
    padding: 0px; 
    border: 0px; 
    vertical-align: baseline;
    color: #00f;
    text-decoration: underline;
}


.pendingAction:hover{
    cursor: pointer;
    color: #F01E1E;
    text-decoration: none;
}

#selectingDM:hover, #selectingDR:hover, #selectingPeer:hover, #selctingStakeholder:hover{
    cursor: pointer;
    color: #F01E1E;
    text-decoration: none;
}

.col-xs-1{
    width: 5%;
    padding-top: 10px;
}

.disabal{
    background-color: #5cb85c;
    opacity: 0.50;
}

.disabal:hover{
    background-color: #5cb85c;
    opacity: 0.50;
}

.content-hide{
    padding-left: 20px;
}

.fa-thumbs-up{
    color: #71ff71;
}


.fa-thumbs-down{
    color: #f01E1E;
}

#reportTable>tbody>tr>th {
    color: #F01E1E;
    border: 1px solid #ddd;
    text-align: justify;
    text-align: center;
}

 #aggregationTable>tbody>tr>td,  #aggregationTable>thead>tr>th {
     text-align: center;
     text-align: justify;
 }


#reportTable>tbody>tr>td {
    border: 1px solid #ddd;
    text-align: justify;
}

.mailsid {
    display: none;
}

#qName, #driver{
    margin-top:45px;
}

#selfass{
    color: red;
}

#qName{
    color:#003264;
    font-size: 20px;
}

#Selffeedpopup{
	background-color: #ffffff;
    width: 800px;
    padding: 25px;
    margin: auto;
}

#Selffeedpopup > .modal-body {
    padding: 0px 15px;
    border: 2px solid #003264;
}

#driverName > div > div.panel-heading > h3 > div {
    float: right;
}

#driverName > div > div.panel-heading > h3 {
    font-size: 22px;
    font-weight: bold;
    color: #f01e1e;
}

#driverName > div > div.panel-heading {
    border: 0;
}

#driverName > div > div.panel-body > div.driverDisplay > .label, #driverName > div > div.panel-body > div.driverDisplay  {
    color: #E01F1F;
    font-size: 22px;
    margin: 20% auto;
    padding: 0;
    margin-bottom: 0;
     margin-top: 0;
}

#driverName > div > div.panel-body > div.queDisply > .label, #driverName > div > div.panel-body > div.queDisply{
    color: #003264;
    font-size: 22px;
    margin: 0% auto;
    padding: 0;
        margin-top: 20px;
   
}

#nextPage{
    border: 2px solid #003264;
    border-top: 0;
	border-top-style: hidden;
}
#nextPage > div.col-xs-7 {
    text-align: justify;
    font-size: 18px;
}

#staticText{
    text-align: justify;
    margin-top: -15px;
}

.modal-footer{
   
    /*  border: inherit; */
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.modal-header .close {
    margin-top: 2px;
    margin-right: 7px;
}
.modalform{
    float: left;
    width: 100%;
}
.modal.fade.in{
    margin-top: 5%;
}


/*hr#horline{
	border-top: 2px solid #025fbe;
    width: 104.5%;
    margin-left: -15px;
    margin-top: -70px;
}*/

h4#driver{
	color: red;
    /*margin-top: 150px;
    margin-left: -250px;*/
}

/*div#verline{
	width: .3%;
    height: 85%;
    background-color: #025fbe;
    margin-left: 350px;
}*/

#options{
    border-left: 2px solid #003264; 
}

#opta , #optb, #optc, #optd {
    text-align: center;
    font-weight: bold;
    color: #003264;

}

#selffb_wrapper > .feedback-popup {
    background-color: #ffffff;
    width: 800px;
    padding: 25px;
}


/*Image layouts */   
#selfansId1, #selfansId2, #selfansId3, #selfansId4 {   
    width: 75px;
    height: 75px;
    background-size: contain;
}

/*text allign*/
#firstone, #secondone, #thirdone, #fourthone{
  padding-left:21px;
}

/*image 1 options*/
.img1{
    background: url(../images/img11.png);
    margin-left: auto;
    margin-right: auto;
    display:block;
    
}
.img1:hover {
    background: url(../images/img1-hover.png);
}
.img1Click{
    background: url(../images/img1-hover.png);
    margin-left: auto;
    margin-right: auto;
    display:block;
    
}

.img1-block{
    background: url(../images/img1-block.png);
    margin-left: auto;
    margin-right: auto;
    display:block;
    
}

/*image 2 options*/
.img2{
    background: url(../images/img22.png);
    margin-left: auto;
    margin-right: auto;
    display:block;
    
}
.img2:hover{
	background: url(../images/img2-hover.png);
}

.img2Click{
    background: url(../images/img2-hover.png);
    margin-left: auto;
    margin-right: auto;
    display:block;
    
}

.img2-block{
    background: url(../images/img2-block.png);
    margin-left: auto;
    margin-right: auto;
    display:block;
    
}

/*image 3 options*/
.img3{
    background: url(../images/img33.png);
    margin-left: auto;
    margin-right: auto;
    display:block;
    
}
.img3:hover{
   background: url(../images/img3-hover.png);
}

.img3Click{
    background: url(../images/img3-hover.png);
    margin-left: auto;
    margin-right: auto;
    display:block;
    
}

.img3-block{
    background: url(../images/img3-block.png);
    margin-left: auto;
    margin-right: auto;
    display:block;
    
}

/*image 4 options*/
.img4{
	background: url(../images/img44.png);
	margin-left: auto;
    margin-right: auto;
    display:block;
	
}
.img4:hover{
   background: url(../images/img4-hover.png);
}
.img4Click{
    background: url(../images/img4-hover.png);
    margin-left: auto;
    margin-right: auto;
    display:block;
    
}
.img4-block{
    background: url(../images/img4-block.png);
    margin-left: auto;
    margin-right: auto;
    display:block;
    
}

.finalsubmit{
	    display: none;
}
.selffinalsubmit{
	display: none;
}

#Selffeedpopup > .modal-header > .close {
	margin-top: -30px;
	left: 54px;
}
/*....................new css for ct.......................*/

.brand-img{
    float: left;
    padding: 15px 0;
    line-height: 20px;
}
.brand-imglogo{
    width: 100px;
}
.navbar{
  margin-bottom:0;
  min-height: 50px;
}
.header-area{
    box-shadow: 0px 4px 8px #f01e1e;
    background: #fff;
    position: fixed;
    width: 100%;
    z-index: 10;
    top:0;
}
.body-area{
    border-style: none;
    
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px;
    width: 100%;
    min-height: 680px;
    position: relative;
    padding-top: 120px;
}
.full-content{
    background: rgba(26,152,198,0.85);
}

div.well{
  height: 250px;
} 

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 50%; 
  height: 50%;
  min-width: 200px;
  max-width: 550px;
  padding: 40px;
}

.login-container{
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    height: 30px;
    font-size: 20px;
    color: #fff;
}
.welcome-container{
    margin: auto;
    margin-top: 0px;
    text-align: center;
    height: 30px;
    font-size: 40px;
    color: #fff;
}
.userlogoutbtn{
    padding: 10px;
    border-radius: 0px;
    /*-moz-box-shadow:    inset 0 0 10px #2693f5;
   -webkit-box-shadow: inset 0 0 10px #2693f5;
   box-shadow:         inset 0 0 10px #2693f5;*/
   border-bottom: 2px solid red;
   color: #4576a2;
}
.userlogoutbtn .fa{
    padding: 0px 20px;
}
.nav>li>a:hover, .nav>li>a:focus, .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    text-decoration: none;
    background-color: transparent;
}
.white{
    background: #ffffff
}
.noitembtn{
    width: 100%;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    border: 3px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    margin: 10px 0;
}
.listcycletablehead{
    font-size: 20px;
    color: #ffffff;
}
.cyclelistTable table.dataTable tbody tr:hover td{
    font-size: 18px;
    background-color: #003874!important;
    color: #ffffff!important;
}
.cyclelistTable table.dataTable tbody tr td{
    transition: .2s;
}
.cyclelistbox{
    width: 100%;
    padding: 5px;
    text-align: center;
    border: 3px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    color: #000000;
    margin: 10px 0;
    float: left;
}
.lodbtn{
    width: 100%;
    padding: 30px;
    font-size: 20px;
    text-align: center;
    box-shadow: inset 0 0px 50px #ffffff;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;    
}
.noitembtn:hover{
    color: #ffffff;
    background: #63a9e8;
    box-shadow: inset 0 0px 50px #ffffff;
}
.backgroungImg{
    display: block;
    background: rgba(26,152,198,0.85);
    background-image: url(../images/Milky-Way-Galaxy-stars-in-Bolivia.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-right: 0 !important;
}
.nodisplay{
    display: none;
}
.nopadding{
    padding: 0;
}
.tableavailheader{
    background: #36546f;
    text-align: center;
    padding: 8px 0;
    font-size: 16px;
    color: #fff;
    margin: 2px;
    border-radius: 5px;
    cursor: pointer;
}
.currentarrow{
    background: #013a71;
}
.agentTable{
    background: #fff;
    margin-top: 10px;
    float: left;
    width: 100%;
    min-height: 400px;
}
.cyclelistTable{
    float: left;
    width: 100%;
    background: #fff;
    margin-top:10px; 
}
.alladentdownloaddata{
    position: absolute;
    right: 52%;
    background: #ec1c24;
    padding: 5px 40px 5px 40px;
    border-radius: 0 0 50px 50px;
    top: 10px;
    color: #ffffff;
    cursor: pointer;
    z-index: 1;
}

.currentarrow:after {
    width: 0;
    height: 0;
    border-top: 21px solid #013a71;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    content: " ";
    position: absolute;
    right: 48%;
    bottom: -17px;
    z-index: 4;
}
.datatableBox{
    padding: 10px;
    float: left;
    width: 100%;
}
.topbar{
    position: fixed;
    width: 100%;
    z-index: 5;
    top: 70px;
    padding: 5px;
}
.nextbtn{
    padding: 5px;
    margin: 10px 0;
    margin-right: 20px;
    float: right;
    text-align: center;
    width: 300px;
    font-size: 15px;
    color: #ffffff;
    background: #013a71;
    cursor: pointer;
    display: none;
}
.nextbtn:after{
    width: 0;
    height: 0;
    border-left: 20px solid #013a71;
    border-top: 16px solid transparent;
    border-bottom: 15px solid transparent;
    content: " ";
    position: absolute;
    right: 15px;
    bottom: 10px;
    z-index: 4;
}
.syncbtn{
    padding: 5px;
    margin: 10px 0;
    float: right;
    text-align: center;
    width: 300px;
    font-size: 15px;
    color: #ffffff;
    background: #013a71;
    cursor: pointer;
    display: none;
}
.projName{
    padding: 16px;
    text-align: center;
    width: 100%;
    position: absolute;
    font-size: 26px;
    font-weight: bold;
    font-family: sans-serif;
    /* background: #0e8dbc; */
    color: #003874;
/*    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
*/}
.listpage{
    /*position: relative;
    margin-top: 10%;
    float: left;
    width: 100%;
    display: table;*/
}
.middlepage{
    /*display: table-cell;
    vertical-align: middle;
    float: none;*/

}

#agents ,#commision {
    -webkit-transition: width 1s ease;
    -moz-transition: width 1s ease;
    -o-transition: width 1s ease;
    transition: width 1s ease;
    
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    height: 36px;

    width: 0px;
}
#agents.in , #commision.in {
    width: 65%;
}
.mainopt{
    font-size: 16px;
}
.smallbutton{
    font-size: 15px;
    padding: 2px 10px;
}
.uploadbar{
    right: 30%;
}
.switchbtn{
    margin: 26px 0 0px 27px;
    padding: 5px;
    background: #003975;
    color: #ffffff;
    cursor: pointer;
    font-size: 11px;
}
#swichuser{
    display: none;
}
#advisorTable , #allAgentlist{
	text-align:center;
}
/*...................................................................*/
/*...................loading ripple css.........................*/
@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.lds-dual-ring {
  position: relative;
}
.lds-dual-ring div {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 30px;
  left: 30px;
  border-radius: 50%;
  border: 25px solid #000;
  border-color: #f01e1e transparent #023a74 transparent;
  -webkit-animation: lds-dual-ring 1.3s linear infinite;
  }


.lds-css {
    position: fixed;
    width: 100%;
    min-height: 100%;
    top: 0;
    z-index: 100;
    background: #f5f5f5d1;
}
.lds-dual-ring{
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100px;
    height: 100px;
    margin: auto;
}
.loadTxt{
    display: inline-block;
    position: fixed;
    top: 85px;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 200px;
    height: 20px;
    text-align: center;
    margin: auto;
    color: #000000;
    font-weight: bold;
}
#datepickerto, #datepickerfrom{
    cursor: pointer;
}
/*...................loading ripple css.........................*/
/*..................topbar..............................*/


.clearfix:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
}

/* Responsive Arrow Progress Bar */

.container {
  font-family: 'Lato', sans-serif;
}

.arrow-steps .step {
  font-size: 14px;
  text-align: center;
  color: #777;
  cursor: default;
  margin: 0 1px 0 0;
  padding: 8px 0px 8px 0px;
  width: 45%;
  float: left;
  position: relative;
  background-color: #ddd;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.arrow-steps .step a {
  color: #777;
  text-decoration: none;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
  content: " ";
  position: absolute;
  top: 0;
  right: -17px;
  width: 0;
  height: 0;
  border-top: 19px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 17px solid #ddd;
  z-index: 2;
}

.arrow-steps .step:before {
  right: auto;
  left: 0;
  border-left: 17px solid #fff;
  z-index: 0;
}

.arrow-steps .step:first-child:before {
  border: none;
}

.arrow-steps .step:last-child:after {
  border: none;
}

.arrow-steps .step:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.arrow-steps .step:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.arrow-steps .step span {
  position: relative;
}

*.arrow-steps .step.done span:before {
  opacity: 1;
  content: "";
  position: absolute;
  top: -2px;
  left: -10px;
  font-size: 11px;
  line-height: 21px;
}

.arrow-steps .step.current {
  color: #fff;
  background-color: #5599e5;
}

.arrow-steps .step.current a {
  color: #fff;
  text-decoration: none;
}

.arrow-steps .step.current:after {
  border-left: 17px solid #5599e5;
}

.arrow-steps .step.done {
  color: #173352;
  background-color: #2f69aa;
}

.arrow-steps .step.done a {
  color: #ffffff;
  text-decoration: none;
}

.arrow-steps .step.done:after {
  border-left: 17px solid #2f69aa;
}
/*..................topbar..............................*/