<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="commission-tracker">
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/resource"/>
        <property name="context-root" value="commission-tracker"/>
        <property name="java-output-path" value="/commission-tracker/build/classes"/>
    </wb-module>
</project-modules>
